
body{
    background-color: gray;
 
}
.contenido{
    margin: 430px ;
    padding: 390px;
    background-color: #ffffff;
    border-radius: 35px;
}


.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    
}
